* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #4a4a4a;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

.success-icon img {
    width: 120px;
    margin-bottom: 20px;
}

.message {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #333;
}


.btn-product {
    display: inline-block;
    background-color: #D8081F;
    color: white;
    text-decoration: none;
    padding: 12px 0;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s ease;

    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-product:hover {
    background-color: #a50012;
}