body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f6f6f6;
}

.app-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    width: 100%;
    max-width: 600px;
    background: #f6f6f6;
    height: calc(100vh - 90px - 65px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.back-link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.back-link:hover {
    opacity: 0.7;
}

.cart-select-all {
    display: flex;
    align-items: center;
    padding: 11px 11px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.cart-select-all input {
    margin-right: 8px
}

.cart-content {
    padding: 0px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.product-item {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05)
}

.product-item img {
    width: 75px;
    height: 75px;
    object-fit: contain
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px
}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.delete-icon {
    background: none;
    border: none;
    color: #d9534f;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.current-price {
    color: #e53935;
    font-weight: bold;
    font-size: 15px;
    margin-right: 6px
}

.old-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #888
}

.qty {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: max-content;
    margin-top: 0
}

.qty button {
    width: 28px;
    height: 26px;
    border: none;
    background: #eee;
    cursor: pointer
}

.qty input {
    width: 35px;
    text-align: center;
    border: none;
    background: transparent
}

.select-item {
    margin-top: 4px
}

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
}

.total-amount {
    font-weight: bold;
    color: #e53935;
    font-size: 16px
}

.btn-buy-link {
    background: #e53935;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.header-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    background: #f6f6f6;
}

.header-cart i {
    font-size: 18px;
    cursor: pointer;
}