body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, rgba(117, 117, 117, 0.56), #868686);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-modal,
.signup-modal,
.forgot-password-modal {
    background: #fff;
    padding: 40px 50px;
    border-radius: 18px;
    width: 360px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;

}

.login-modal:hover,
.signup-modal:hover,
.forgot-password-modal:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

h2 {
    color: #ff4400;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.input-group {
    margin-bottom: 13px;
    position: relative;
}


.input-group.has-error {
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #0077ff;
    box-shadow: 0 0 6px rgba(0, 81, 255, 0.4);
    outline: none;
}

.login-btn,
.signup-btn,
.forgot-password-btn {
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background-color: #ff4400;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s, transform 0.2s;
}

.login-btn:hover,
.signup-btn:hover,
.forgot-password-btn:hover {
    background-color: #b30600;
    transform: translateY(-2px);
}

.password-info {
    font-size: 11px;
    color: #666;
    margin: 8px 0 15px;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin: 10px 0;
}

/*  link */
a {
    color: #ff4400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.signup,
.login {
    margin-top: 20px;
    font-size: 13px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 22px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.divider span {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 190px;
    text-decoration: none !important;
}

.social-btn:hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.social-login img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.back-link {
    display: flex;
    justify-content: flex-start !important;
    width: 100%;
    margin-bottom: 20px;
}
.back-link a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ff4400;
    font-size: 15px;
    font-weight: 500;
    gap: 8px;
    padding: 4px 6px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #cecece;
    font-size: 16px;
    transition: 0.2s ease;
}

.back-link a:hover {
    background: #cecece;
    color: #ff4400;
}


.input-group input.input-error {
    border-color: #e53935;
    background-color: #fff8f8;
}

.error-message {
    color: #e53935;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -18px;
}

.success-message-general {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #a5d6a7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 14px;
}

.cooldown-message {
    font-size: 15px;
    color: #1976d2;
    margin-bottom: 13px;
    text-align: center;
}
